@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>

    <div class="mt-4">
        <a href="/Account/Login" class="btn btn-primary btn-lg">Войти</a><br/>
        <a href="/Account/Register" class="btn btn-secondary btn-lg">Зарегистрироваться</a><br/>
        <a href="/Account/LoginWithGoogle" class="btn btn-danger btn-lg">Войти через Google</a><br/>
    </div>
</div>