@model MarkdownProcessorWeb.ViewModels.RegisterViewModel

@{
ViewData["Title"] = "Регистрация";
}

<div class="d-flex justify-content-center align-items-center vh-custom">
    <div class="text-center">
        <h2>Регистрация</h2>
        <form asp-action="Register" method="post">
            <div class="form-group mb-1">
                <p class="mb-1">Email</p>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-1">
                <p class="mb-1">Имя</p>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group mb-1">
                <p class="mb-1">Пароль</p>
                <input asp-for="Password" type="password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-1">
                <p class="mb-1">Повторите пароль</p>
                <input asp-for="ConfirmPassword" type="password" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-1">
                <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe" type="checkbox"/>
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-2">Зарегистрироваться</button>
            <a href="/Greeting/Index" class="btn btn-danger w-100">Назад</a>
        </form>
    </div>
</div>