@model MarkdownProcessorWeb.ViewModels.DocumentViewModel

@{
    ViewData["Title"] = "Редактировать документ";
}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <h4>
            <label asp-for="Title"></label>
        </h4>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <h4>Markdown</h4>
            <textarea id="markdown-content" asp-for="Content" class="form-control" rows="16"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <h4>HTML</h4>
            <pre id="html-content" class="form-control" style="height: 400px; overflow-y: auto; white-space: pre-wrap;"></pre>
        </div>
    </div>
    <div class="form-group form-check">
        <input asp-for="IsPublic" class="form-check-input"/>
        <label asp-for="IsPublic" class="form-check-label">Публичный документ</label>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="/Document/Index" class="btn btn-secondary">Назад</a>
</form>

<script src="~/js/convertMdToHtml.js"></script>